@keyframes move {
  from {
    transform: translateY(-15px);
  }

  to {
    transform: translateY(15px) scale(1.03);
  }
}

.content {
  display: flex;
  align-items: center;
  gap: 100px;
}

.title {
  font: 60px;
  margin-bottom: 100px;
  text-align: center;
}

.imgContainer {
  flex: 1;
  height: 500px;
  position: relative;
}

.img {
  object-fit: contain;
  animation: move 3s infinite ease alternate;
}

.form {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.input,
.textArea {
  padding: 20px;
  background-color: transparent;
  border: none;
  outline: none;
  color: #bbb;
  border: 3px solid #bbb;
  font-size: 20px;
  font-weight: bold;
  resize: none;
}

.loadingContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.loading {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.loadingCircle {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 5px solid #000;
  border-top: 5px solid #fff;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.loadingShadow {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 5px solid #000;
  border-top: 5px solid #fff;
  animation: spin 1s linear infinite;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.2;
}

.loadingText {
  font-size: 20px;
  font-weight: bold;
  margin-left: 10px;
}

@media (max-width: 768px) {
  .content {
    flex-direction: column;
  }

  .title {
    font-size: 40px;
    margin-bottom: 50px;
  }

  .imgContainer {
    height: 300px;
    flex: auto;
    width: 100%;
  }

  .img {
    height: 100%;
  }

  .input,
  .textArea {
    padding: 10px;
    font-size: 16px;
  }

}